.nameContainer {
  display: flex;
  justify-content: space-between;
  
  
  svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 14px;

    @media (max-width:480px) {
      margin-top: 12px;
      height: 16px;
      width: 16px;
    }
  }

  > div{
    padding-right: 24px;
  }
}