.container {
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: .2s;
  >:not(:last-child){
    margin-bottom: 20%;
    &{
      @media (max-width:480px) {
        margin-bottom: 10%;
      }
    }
  }
}
.contentContainer {
    padding: 0% 20%;
    >* {
      margin-bottom: 2em;
      &{
        @media (max-width:480px) {
          margin-bottom: 10%;
        }
      }
    }
    
}
.arabic {
    >:first-child{
      font-weight: 700;
      font-family: 'Janna LT', serif;
    }
    >:last-child{
      font-weight: 700;
      font-family: 'Janna LT', serif;
      font-size: 12px;
    }
}