.container {
  height: 100lvh;
  position: relative;
  overflow: hidden;
  transition: .2s;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 20%;

  >:first-child {
    font-size: 22px;
    font-weight: 600;
  }

  >:nth-child(2) {
    font-size: 40px;
    margin-bottom: 20px;

    * {
      font-weight: 600;
    }
  }
}

.imageContainer {
  z-index: -1;
  position: absolute;
  width: 160%;
  height: 140%;
  left: 7.5%;
  top: 5%;
  rotate: 5deg;

  >img {
    object-fit: cover;
    position: absolute;
  }
}


@media (max-width: 480px) {
  .textContainer {
    padding: 20% 10%;

    >:first-child {
      font-size: 18px;
    }

    >:nth-child(2) {
      font-size: 36px;
    }
  }

  .imageContainer {
    width: 165%;
    height: 130%;
  }
}