
.imageContainer {
  z-index: 1;
  overflow: hidden !important;
  background-color: rgba(127, 255, 212, 0.229);

  >img {
    margin-top: -250px;
    right: -50px;
    rotate: -65deg;
    object-fit: contain;
  }
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
