
.imageContainer {
  position: absolute;
  display: flexbox;
  height: 60px;
  width: 100%;
  z-index: 1;
  
  >img {
    object-fit: contain;
    position: absolute;
    margin-top: -22px;
    margin-left: 150px;
  }
}
.gap{
  margin-top: 40px;
}
.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
