.container {
  height: 100lvh;
  padding: 25% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: .2s;
}

.imageContainer {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 1;
  top: -325px;
  right: 0px;
  overflow: hidden;

  >img {
    right: -30px !important;
    left: unset !important;
    rotate: -60deg;
    object-fit: contain;
  }
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}


@media (max-width:480px) {
  .container {
    padding: 20% 15%;
  }

  .imageContainer {
    height: 450px;
    width: 100%;
    top: -250px;

    >img {
      right: -10px !important;
    }
  }
}